NiFi_Flow.json
{"flowContents":{"identifier":"d6606f85-b856-3c7e-b938-146a142bea79","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f0918c51-81c4-3a28-8a47-f72ab19c9a0e","name":"Write Guitar Tab to Kafka","comments":"","position":{"x":1104.0,"y":56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"ip-172-31-84-154.ec2.internal:9092,ip-172-31-86-76.ec2.internal:9092,ip-172-31-91-111.ec2.internal:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"admin","use-transactions":"true","acks":"all","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"some_session_id_guitar_stream","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"4322340b-6f40-3ca7-ae6c-780847485528","name":"Read Midi Notes from_Kafka","comments":"","position":{"x":280.0,"y":56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","properties":{"header-name-regex":null,"sasl.username":"admin","max.poll.records":"10000","group.id":"KafkaMidiConsumer","bootstrap.servers":"ip-172-31-84-154.ec2.internal:9092,ip-172-31-86-76.ec2.internal:9092,ip-172-31-91-111.ec2.internal:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","kerberos-credentials-service":null,"ssl.context.service":null,"max-uncommit-offset-wait":"3 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"true","Communications Timeout":"60 secs","topic":"some_session_id_midi_stream","separate-by-key":"true","message-header-encoding":"UTF-8","message-demarcator":"NEXT","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"92bd8b68-fb16-32fc-82c2-76bf93bb7267","name":"Convent Midi Notes into Guitar Tab","comments":"","position":{"x":280.0,"y":256.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"512","Command Path":"/home/ubuntu/development/convert_to_tab.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"79556169-a3c7-3367-9780-c358d7b28182","name":"Create Musical Score from Tab","comments":"","position":{"x":888.0,"y":304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/home/ubuntu/development/convert_to_score.py","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"58f1a6d7-7cf7-3cec-981d-9ea81c1a47df","name":"PutFile","comments":"","position":{"x":704.0,"y":104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ubuntu/data/score","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"9747b526-4857-353b-9a1f-96be558d088c","name":"MergeContent","comments":"","position":{"x":280.0,"y":448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Filename","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"1 minutes","Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"20"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"e3341e12-6349-3dbb-a4d3-1f8fed2c697a","name":"PutFile","comments":"","position":{"x":896.0,"y":592.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ubuntu/data/tab","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"545284b2-2539-3d87-b74e-2a31f25f52ee","name":"","source":{"id":"f0918c51-81c4-3a28-8a47-f72ab19c9a0e","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Write Guitar Tab to Kafka","comments":""},"destination":{"id":"29e01822-a913-38dd-b232-e221ed7d4be8","type":"FUNNEL","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"5e991aa6-be52-3e30-aae2-fa2b7168be31","name":"","source":{"id":"e3341e12-6349-3dbb-a4d3-1f8fed2c697a","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"PutFile","comments":""},"destination":{"id":"7cab403c-37b7-35a2-90f4-cd791972f848","type":"FUNNEL","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"0108961d-3a7d-34ae-9513-8baf96caa51c","name":"","source":{"id":"79556169-a3c7-3367-9780-c358d7b28182","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Create Musical Score from Tab","comments":""},"destination":{"id":"f0918c51-81c4-3a28-8a47-f72ab19c9a0e","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Write Guitar Tab to Kafka","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"e6ccbe65-ed38-3cee-920e-3fe47a5e2aef","name":"","source":{"id":"79556169-a3c7-3367-9780-c358d7b28182","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Create Musical Score from Tab","comments":""},"destination":{"id":"58f1a6d7-7cf7-3cec-981d-9ea81c1a47df","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"067a3694-5e24-37c9-9f8a-1814b91de6d5","name":"","source":{"id":"9747b526-4857-353b-9a1f-96be558d088c","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"MergeContent","comments":""},"destination":{"id":"7d60a6d3-6412-3bff-8d75-4c33f17f56b7","type":"FUNNEL","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"2ab3b319-e152-3b8c-bde2-0e27569be132","name":"","source":{"id":"9747b526-4857-353b-9a1f-96be558d088c","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"MergeContent","comments":""},"destination":{"id":"e3341e12-6349-3dbb-a4d3-1f8fed2c697a","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"d5c1da67-9f9f-33d4-9141-70bce593d247","name":"","source":{"id":"4322340b-6f40-3ca7-ae6c-780847485528","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Read Midi Notes from_Kafka","comments":""},"destination":{"id":"92bd8b68-fb16-32fc-82c2-76bf93bb7267","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Convent Midi Notes into Guitar Tab","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"dd939c80-9a1f-35a2-9a68-2136a8a330f4","name":"","source":{"id":"58f1a6d7-7cf7-3cec-981d-9ea81c1a47df","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"PutFile","comments":""},"destination":{"id":"dea000f8-bc62-37bf-b2e3-8f0de5275496","type":"FUNNEL","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"a8bbc3ed-513b-3ca8-a3c8-da03facb855f","name":"","source":{"id":"79556169-a3c7-3367-9780-c358d7b28182","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Create Musical Score from Tab","comments":""},"destination":{"id":"999668a6-64b6-3149-b579-e58bc6e05efa","type":"FUNNEL","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"e556eadc-c47c-3570-858a-de35800a732e","name":"","source":{"id":"92bd8b68-fb16-32fc-82c2-76bf93bb7267","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Convent Midi Notes into Guitar Tab","comments":""},"destination":{"id":"9747b526-4857-353b-9a1f-96be558d088c","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"7e4140ce-bf49-39ad-b0b2-cdf98ef62ceb","name":"","source":{"id":"9747b526-4857-353b-9a1f-96be558d088c","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"MergeContent","comments":""},"destination":{"id":"79556169-a3c7-3367-9780-c358d7b28182","type":"PROCESSOR","groupId":"d6606f85-b856-3c7e-b938-146a142bea79","name":"Create Musical Score from Tab","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"}],"labels":[],"funnels":[{"identifier":"7d60a6d3-6412-3bff-8d75-4c33f17f56b7","position":{"x":432.0,"y":664.0},"componentType":"FUNNEL","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"29e01822-a913-38dd-b232-e221ed7d4be8","position":{"x":1360.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"999668a6-64b6-3149-b579-e58bc6e05efa","position":{"x":1432.0,"y":432.0},"componentType":"FUNNEL","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"7cab403c-37b7-35a2-90f4-cd791972f848","position":{"x":1040.0,"y":464.0},"componentType":"FUNNEL","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"},{"identifier":"dea000f8-bc62-37bf-b2e3-8f0de5275496","position":{"x":864.0,"y":16.0},"componentType":"FUNNEL","groupIdentifier":"d6606f85-b856-3c7e-b938-146a142bea79"}],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}